meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
title Email Title/subject

//- Inline this css
link(type="text/css", rel="stylesheet", media="all", href="../css/inline.css")

//- do not inline this
link(data-ignore, type="text/css", rel="stylesheet", media="all", href="../css/style.css")
