extends includes/layout

block content
    //- Wrapper/Container Table: Use a wrapper table to control the width and the background color consistently of your email. Use this approach instead of setting attributes on the body tag.
    table#contentTable(cellpadding='0', cellspacing='0', border='0')
      tr
        td
        td
          //- Tables are the most common way to format your email consistently. Set your table widths inside cells and in most cases reset cellpadding, cellspacing, and border to zero. Use nested tables as a way to space effectively in your message.
          table.central-table( cellpadding='0', cellspacing='0', border='0', align='center')
            tr
              td
                  h1 Main title
                  h2 secondary title
                  p  Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing elit. Dolor architecto</a>, necessitatibus voluptatem amet voluptas voluptates. Odit, natus. Nobis at ad voluptatibus, alias, aut officia error, dolor magnam ipsam quae ut.

                  img.image_fix.full-width(src='http://lorempixel.com/600/400/', alt='imageAltText', title='titleText')

                  span.mobile_link 123-456-7890
        td
